<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon; color: white">
        <h1>USER ERROR LOGIN</h1>

        <div class="d-grid gap-2 ">
            <a class="btn btn-danger" style="text-decoration: none;"href="/login">Iniciar sesión</a>
            <br>
            <a class="btn btn-outline-danger" style="text-decoration: none;" href="/register">Registrar nuevo usuario</a>
        </div>
    </div>
</div>